<!--<h2> Comment Form </h2>-->

<%#= render 'comments/form', comment:@comment %>


<h2> edit comment </h2>
<%= form_with  model: [@article, @comment] do |form| %>
  <p>
    <%= form.label :commenter %>
    <%= form.text_field :commenter  %>
  </p>

  <p>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
